@import 'src/variables/fonts.scss';

.main_bg {
    background-color: #e2e8f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        background-color: #ffffff;
        border-radius: 15px;

        .header {
            padding: 25px 0 15px 0;

            h2 {
                color: #666666;
                font-size: 18px;
                line-height: 18px;
                text-align: center;
            }
        }

        .form_block {
            padding-top: 25px;

            .form_title {
                h1 {
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 18px;
                }

                p {
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 16px;
                    color: #717171;
                }
            }

            .form-group {
                padding-bottom: 8px;
            }

            .form-control {
                border-color: #e7e7e7;
                border-radius: 0;
                outline: none;
                font-size: 14px;
                &.sign_in{
                    width: 75%;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }

        .btn_block {
            padding: 10px 0 40px 0;
            margin-left: 50px;

            button {
                width: 150px;
                padding: 10px 15px 10px 15px;
                border-radius: 30px;
                outline: none;
                border: none;
                background-color: #1f969e;
                color: #ffffff;
            }
        }

        .sign_up_switch {
            text-align: center;
            padding: 15px 0 25px 0;

            .login__account-msg {
                font-size: 16px;
                font-weight: 500;
                color: #c3cffd;
                font-family: $para_font;
                display: flex;
                -webkit-transition: all 2s; /* Safari 3.1 to 6.0 */
                transition: all 2s;
                p {
                    color: #4054eb;
                    font-family: $para_font;
                    font-size: 1.1rem;
                    font-weight: 500;
                    cursor: pointer;
                    margin: 0;
                    padding-left: 5px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}