@import 'src/variables/fonts.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/** @@@@@@@@@@@ Table Scss @@@@@@@@@@@@@@@@@@@@@@ */
.table {
  color: #7286a2;
  border-spacing: 0px;
  width: 100%;
  // border: 1px solid #eaf0f7;

  .thead-light {
    th {
      background-color: transparent !important;
      font-weight: 500;
      color: #50649c;
      font-size: 14px;
      border-bottom: 1px solid #eaf0f7;
      font-family: $header_font;
      border-top: none;
    }
  }

  td {
    border-bottom: 1px solid #eaf0f7;
    line-height: 1.6;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    vertical-align: middle;
  }

  .icon_block {
    display: flex;

    .icon {
      display: inline-block;
      font-size: 16px;
      margin: 0 auto 5px;
      color: #a4abc5 !important;
      opacity: 1;
      cursor: pointer;

      &.red_col {
        &:hover {
          color: red !important;
        }
      }

      &:hover {
        color: #053fe4 !important;
      }
    }
  }
}

.err_msg {
  color: red;
  font-family: $para_font;
  font-size: 14px;
}

/** @@@@@@@@@@@     Toaster Styles     @@@@@@@@@@@@@*/


.alert_message {
  position: relative;
  display: flex;
  justify-content: center;
  vertical-align: middle;

  .alert_content {
    position: fixed;
    bottom: 10px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: left;
    padding: 15px 0px 0px 25px;
    border-radius: 5px;

    .toast__type {
      color: #3e3e3e;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 8px;
      cursor: pointer;

      i {
        color: #e79494;
      }
    }

    .toast__message {
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 0;
      color: #878787;
    }

    .icon_close {
      position: absolute;
      left: auto;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      padding: 7px;
      border-radius: 50%;
      display: inline-block;
      right: 25px;
      color: #878787;
    }
  }
}

.danger {
  &.alert_content {
    background-color: #f8d7da !important;
  }
}

.success {
  &.alert_content {
    background-color: #09d3ac !important;
  }
  &.toast__message {
    color: #ffffff;
  }
}

.spinner-border {
  color: #ffffff !important;
  width: 20px;
  height: 20px;
}